apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: antivirus-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: antivirus
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/antivirus"
