apiVersion: v1
kind: Service
metadata:
  name: antivirus-scanfile-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: antivirus
    antivirus: scanfile
spec:
  ports:
  - port: {{ ANTIVIRUS_PORT }}
  selector:
    app: antivirus-scan
  clusterIP: None
