#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: antivirus-secret
  labels:
    app: antivirus
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  DEVELOP_CLAMD_TYPE: "{{ DEVELOP_CLAMD_TYPE| b64encode }}"
  DEVELOP_CLAMD_HOST: "{{ DEVELOP_CLAMD_HOST| b64encode }}"
  DEVELOP_CLAMD_PORT: "{{ DEVELOP_CLAMD_PORT| b64encode }}"
  DEVELOP_CLAMD_DIRECTORY: "{{ DEVELOP_CLAMD_DIRECTORY| b64encode }}"
  DEVELOP_WEBSERVER_AUTH_USERS: "{{ DEVELOP_WEBSERVER_AUTH_USERS| b64encode }}"
  DEVELOP_VIRUSTOTAL_API_KEY: "{{ DEVELOP_VIRUSTOTAL_API_KEY| b64encode }}"
  DEVELOP_AMQP_URL: "{{ DEVELOP_AMQP_URL| b64encode }}"
  DEVELOP_AMQP_SCAN_FILE_QUEUE: "{{ DEVELOP_AMQP_SCAN_FILE_QUEUE| b64encode }}"
  DEVELOP_AMQP_SCAN_FILE_ROUTING_KEY: "{{ DEVELOP_AMQP_SCAN_FILE_ROUTING_KEY| b64encode }}"
  DEVELOP_AMQP_SCAN_URL_QUEUE: "{{ DEVELOP_AMQP_SCAN_URL_QUEUE| b64encode }}"
  DEVELOP_AMQP_SCAN_URL_ROUTING_KEY: "{{ SENTRY_DSN_CLIENT| b64encode }}"
