[Unit]
Description=Antivirus Service Using Clamav
After=multi-user.target

[Service]
Type=idle
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
User=antivirus
Group=antivirus
ExecStart=/usr/local/bin/antivirus webserver
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target